<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">

<f:asset.css identifier="toc-sticky" href="EXT:dp_t3_toc/Resources/Public/Css/toc-sticky.css" />
<f:asset.script identifier="toc-scrollspy" src="EXT:dp_t3_toc/Resources/Public/JavaScript/toc-scrollspy.js" />
<f:if condition="{tocSettings.settings.scrollspy}">
    <f:asset.css identifier="toc-scrollspy" href="EXT:dp_t3_toc/Resources/Public/Css/toc-scrollspy.css" />
</f:if>

<f:if condition="{tocItems}">
    <f:switch expression="{tocSettings.settings.layout}">

        <f:case value="sidebar">
            <nav id="kern-toc-{data.uid}"
                 class="kern-toc kern-toc--sidebar"
                 aria-label="{f:if(condition: data.header, then: data.header, else: '{f:translate(key: \'toc.aria_label\', extensionName: \'DpT3Toc\')}')}"
                 data-toc-layout="sidebar"
                 data-toc-sticky="{tocSettings.settings.sticky}"
                 data-toc-scrollspy="{tocSettings.settings.scrollspy}"
                 data-toc-uid="{data.uid}">

                <ul class="kern-toc__list kern-list">
                    <f:for each="{tocItems}" as="item">
                        <li class="kern-toc__item kern-toc__item--level-{item.level}">
                            <a class="kern-toc__link kern-link"
                               href="{item.anchor}"
                               data-toc-level="{item.level}">
                                {item.title}
                            </a>
                        </li>
                    </f:for>
                </ul>
            </nav>
        </f:case>

        <f:case value="inline">
            <nav id="kern-toc-{data.uid}"
                 class="kern-toc kern-toc--inline"
                 aria-label="{f:if(condition: data.header, then: data.header, else: '{f:translate(key: \'toc.aria_label\', extensionName: \'DpT3Toc\')}')}">

                <ul class="kern-toc__list kern-list kern-list--horizontal">
                    <f:for each="{tocItems}" as="item">
                        <li class="kern-toc__item">
                            <a class="kern-toc__link kern-link"
                               href="{item.anchor}">
                                {item.title}
                            </a>
                        </li>
                    </f:for>
                </ul>
            </nav>
        </f:case>

        <f:case value="dropdown">
            <nav id="kern-toc-{data.uid}"
                 class="kern-toc kern-toc--dropdown"
                 aria-label="{f:if(condition: data.header, then: data.header, else: '{f:translate(key: \'toc.aria_label\', extensionName: \'DpT3Toc\')}')}">

                <div class="dropdown">
                    <button class="kern-btn kern-btn--secondary dropdown-toggle kern-toc__toggle"
                            type="button"
                            id="kernTocDropdown-{data.uid}"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <f:if condition="{data.header}">
                            <f:then>{data.header}</f:then>
                            <f:else><f:translate key="toc.dropdown_label" extensionName="DpT3Toc" /></f:else>
                        </f:if>
                    </button>

                    <ul class="dropdown-menu kern-toc__list" aria-labelledby="kernTocDropdown-{data.uid}">
                        <f:for each="{tocItems}" as="item">
                            <li class="kern-toc__item kern-toc__item--level-{item.level}">
                                <a class="dropdown-item kern-toc__link kern-link"
                                   href="{item.anchor}">
                                    {item.title}
                                </a>
                            </li>
                        </f:for>
                    </ul>
                </div>
            </nav>
        </f:case>

        <f:defaultCase>
            <nav id="kern-toc-{data.uid}"
                 class="kern-toc kern-toc--sidebar"
                 aria-label="{f:translate(key: 'toc.aria_label', extensionName: 'DpT3Toc')}">

                <ul class="kern-toc__list kern-list">
                    <f:for each="{tocItems}" as="item">
                        <li class="kern-toc__item kern-toc__item--level-{item.level}">
                            <a class="kern-toc__link kern-link" href="{item.anchor}">
                                {item.title}
                            </a>
                        </li>
                    </f:for>
                </ul>
            </nav>
        </f:defaultCase>

    </f:switch>
</f:if>

</f:section>

</html>
